<table class="table "  >
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Email</td>
        <td colspan="3"></td>   
    </tr>
    {{#each users}}
        <tr>
            <th>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.email}}</td>
            <td><button type="button" class="btn btn-secondary"><a class="bp" href="/users/delete/{{this.id}}">Excluir</a></td></button>
            <td><button type="button" class="btn btn-secondary"><a class="bp" href="/users/edit/{{this.id}}">Editar</a></button></td>
            <td><button type="button" class="btn btn-secondary"><a class="bp" href="/users/view/{{this.id}}">Visualizar</a></td></button>
        </tr>
    {{/each}}
</table>


