    <div class="form-floating mb-3">
        <input name="id" type="hidden" value="{{post.id}}">
        <input name="titulo" type="text" class="form-control" id="floatingInput" maxlength="20" value="{{post.titulo}}" >
        <label for="floatingInput">Digite seu titulo</label>
    </div>

    <div class="form-floating mb-3">
        <textarea name="texto" class="form-control" id="floatingTextarea2" style="height: 100px" maxlength="120">{{post.texto}}</textarea>
        <label for="floatingTextarea2">Digite seu texto</label>
    </div>

    <div class="form-floating mb-3">
  <select name="users_id" class="form-select" id="floatingSelect">
    <option >
        {{#each users}}
            <option value="{{this.id}}" {{#if isSelected}}selected{{/if}}>{{this.nome}}</option>
        {{/each}}
    </option>
  </select>
  <label for="floatingSelect">Selecione o usuario</label>
    </div>
    
    <input type="submit" class="btn btn-secondary" value="Enviar"/>
</form>
