<div class="usersLista ">
    <table class="table">
        <div class="container">  
        <tr>
            <td>ID</td>
            <td>Titulo</td>
            <td>Texto</td>
            <td colspan="3"></td>
        </tr>
            </div>
        {{#each posts}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.titulo}}</td>
                <td>{{this.texto}}</td>
                <div>
                    <td><button type="button" class="btn btn-secondary"><a class="bp" href="/posts/edit/{{this.id}}">Editar</a></button></td>
                    <td><button type="button" class="btn btn-secondary"><a class="bp" href="/posts/delete/{{this.id}}">Excluir</a></td></button>
                    <td><button type="button" class="btn btn-secondary"><a class="bp" href="/posts/view/{{this.id}}">Visualizar</a></td></button>
                </div>
            </tr>
        {{/each}}
    </table>
</div>